html {
    box-sizing: border-box;
}

.app-container {
    .button {
        display: inline-block;
        user-select: none;
        cursor: pointer;
        padding: 8px;
        color: white;
        background-color: green;
        border-radius: 4px;
        margin-right: 8px;
        &:hover {
            background-color: darken(green, 10);
        }
    }

    .line-span {
        display: block;
    }

    .map-container {
        .row {
            display: block;
        }
        .grid-cell {
            display: table-cell;
            border-right: 1px solid lighten(green, 5);
            border-bottom: 1px solid lighten(green, 5);

            height: 12px;
            width: 12px;
            svg {
                position: absolute;
            }
            &.color-0 {
                background-color: green;
            }
            &.color-1 {
                background-color: red;
            }
        }
    }
}
