html {
    box-sizing: border-box;
}

.app-container {
    .button {
        display: inline-block;
        user-select: none;
        cursor: pointer;
        padding: 8px;
        color: white;
        background-color: green;
        border-radius: 4px;
        margin-right: 8px;
        &:hover {
            background-color: darken(green, 10);
        }
    }
}
